<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hawking.kimi-k26-doctor-prime</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-dimsu</string>
    <string>/Library/Frameworks/Python.framework/Versions/3.12/bin/python3.12</string>
    <string>/Users/scammermike/Library/Application Support/Hawking/KimiK26/kimi_k26_campaign.py</string>
    <string>run</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/scammermike/Library/Application Support/Hawking/KimiK26</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/scammermike/Library/Application Support/Hawking/KimiK26/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/scammermike/Library/Application Support/Hawking/KimiK26/launchd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
    <key>HF_HUB_DISABLE_XET</key>
    <string>0</string>
    <key>HF_XET_HIGH_PERFORMANCE</key>
    <string>1</string>
    <key>KIMI_K26_DISK_FLOOR_BYTES</key>
    <string>5368709120</string>
  </dict>
</dict>
</plist>
